// Background color
$bgprimery: #203656;
$bgsecondery: #e6e6fe;
$bgtertiary: #350e8d;

// Text Color
$colorprimery: #fff;
$colorsecondery: #f1f1f1;
$colortertiary: #151618;


// color list
$white: #fff;
$black: #151617;



$purple: #a37aa6;
$darkpurple: #F2958D;
$hovercolor: #F2958D;
$mainblue: #203656;
$color2: #F2958D;


// Alert
$alertcomplete: #61C513;
$alertinprogress: #ed9900;
$alerterror: #ED0000;
$color1: #7D7777;
$modalBg: #F1F1F2;
