.productListBanner {
    width: 100%;
    position: relative;
    background: $bg-10;
    background-size: cover !important;
    height: 16rem;
}
.productList {
    padding: 8rem 0;
    border-bottom: #e4e4e4 1px solid;
}
.listLeft {
    flex: 0 0 23rem;
    max-width: 23rem;
    .listToggleBtn {
        display: none;
    }
}
.listLeftInner {
    border: #ebebeb 1px solid;
    border-bottom: none;
    position: sticky;
    top: 7rem;
    ul {
        ul {
            padding: 1.25rem 0.938rem;
            display: none;
            li {
                &:not(:last-child) {
                    margin-bottom: 0.5rem;
                }
                a {
                    color: #666;
                    padding: 0 0 0 1.25rem;
                    line-height: 2;
                    display: block;
                    &:hover {
                        color: $bg-2;
                        padding: 0 0 0 1.45rem;
                    }
                }
            }
        }
    }
    > ul {
        > li {
            border-bottom: #ebebeb 1px solid;
            > a {
                color: #333;
                display: block;
                font-size: 1.225rem;
                padding: 0 1.25rem;
                line-height: 4.125rem;
                position: relative;
                .cdRight {
                    position: absolute;
                    right: 1.25rem;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: all ease-in-out 0.4s;
                }
                &:hover {
                    background: #f2f2f2;
                }
            }
            &.active {
                > a {
                    background: $bg-1;
                    color: $bg-6;
                    .cdRight {
                        transform: translateY(-50%) rotate(180deg);
                    }
                }
                ul {
                    display: block;
                }
            }
        }
    }
}

.listRight {
    flex: 1 0 0%;
    max-width: 100%;
}
.listRightInnerTop {
    // background: $bg-2;
    color: $bg-4;
    // padding: 3rem;
    // border-radius: 1.25rem;
    // border: $bg-15 1px solid;
}

.shopReelsType {
    // margin-top: 3rem;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
    h3 {
        text-align: center;
    }
}

.shopBox {
    display: block;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 1.25rem -0.625rem,
        rgba(0, 0, 0, 0.1) 0 0.938rem 1.25rem -0.625rem;
    padding: 1.563rem;
    border-radius: 1.25rem;
    text-align: center;
    font-family: "Kanit";
    // font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    color: $bg-1;
    height: 100%;
    img {
        display: inline-block;
        max-width: 100%;
        max-height: 16rem;
    }
    span {
        display: block;
        // color: #b9b9b9;
        margin-top: .50rem;
        del {
            color: #b9b9b9;
        }
    }
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.2) 0 0 2.25rem -0.625rem,
            rgba(0, 0, 0, 0.1) 0 0.938rem 1.25rem -0.625rem;
        color: $bg-2;
    }
    h6 {
        color: $bg-2;
        font-size: 1.2rem;
    }
    h5 {
        font-size: 1.625rem;
        margin-bottom: 0.225rem;
    }
    p {
        font-size: 1.5rem;
    }
    ul {
        margin-top: 0.5rem;
        li {
            color: #f7e476;
            font-size: 0.813rem;
        }
    }
}

.shopBoxBtm {
    margin-top: 12px;
}

.product-price {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;

    .original {
        text-decoration: line-through;
        color: #999;
        font-size: 14px;
    }

    .offer {
        color: #27272a;
        // font-weight: bold;
        font-size: 16px;
    }
}



.productType {
    .shopBox {
        img {
            max-height: 10rem;
        }
    }
}

.shopReeAccessories {
    padding: 3rem 0;
    border-top: #e4e4e4 1px solid;
}

.accessoriesBox {
    display: block;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 1.25rem -0.625rem,
        rgba(0, 0, 0, 0.1) 0 0.938rem 1.25rem -0.625rem;
    padding: 1.563rem;
    border-radius: 1.25rem;
    text-align: center;
    font-family: "Kanit";
    font-weight: 600;
    font-size: 0.875rem;
    color: $bg-1;
    height: 100%;
    img {
        display: block;
        width: 100%;
    }
    span {
        display: block;
        margin-top: 1.25rem;
    }
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.2) 0 0 2.25rem -0.625rem,
            rgba(0, 0, 0, 0.1) 0 0.938rem 1.25rem -0.625rem;
        color: $bg-2;
    }
}
