$bg-1: #041541;
$bg-2: #11c7f7;
$bg-3: #1c6ab5;
$bg-4: #666666;
$bg-5: #333;
$bg-6: #fff;
$bg-7: #e2faf4;
$bg-8: #000;
$bg-9: #cac8c8;
$bg-10: #27272a;
$bg-11: #eccd18;
$bg-12: #5065da;
$bg-13: #f1fcff;
$bg-14: #f9f9f9;
$bg-15: #f1f1f1;
$color4: #BFBFBF;
$tertiary: #626262;

